{{ "section-main-about.css" | asset_url | stylesheet_tag }}

{%- schema -%}
{
	"name": "About",
	"tag": "section",
	"settings": [
		{
			"type": "text",
			"label": "Title",
			"id": "title" 
		},
		{
			"type": "textarea",
			"label": "Description",
			"id": "description" 
		},
		{
			"type": "image_picker",
			"label": "Imagen",
			"id": "image" 
		}
	]
}
{%- endschema -%}


<div class="w-full">
	<div class="container">
		{% render 'about-col-image' %}

		{% render 'about-col-text' %}
	</div>
</div>


<script>
  window.alert('Bienvenido')
</script>